# Rutas
DATA_PATH=./data
RAW_DATA_PATH=./data/raw
DB_PATH=./data/database/snies.duckdb

# Configuración ETL
BATCH_SIZE=10000
AÑOS_DESDE=2013
AÑOS_HASTA=2024

# Logging
LOG_LEVEL=INFO
LOG_PATH=./logs

# Dashboard
DASHBOARD_PORT=8501